@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

:root,
#root,
#docs-root {
  --searchbar-mic-border-color: linear-gradient(rgba(167, 62, 231, 1), rgba(0, 235, 255, 1));
  --video-container-bg-color: linear-gradient(180deg, #2B2F53 3.16%, #1D1C34 36.05%);
  --video-description-bg-color: linear-gradient(180deg, rgba(72, 49, 157, 0.2) 18.75%, rgba(72, 49, 157, 0) 100%);
  --video-container-boxshadow-color: -10px 30px 80px rgba(59, 38, 123, 0.7);
  --left-side-bar-bg-color: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%);
  --secondary-text-color: rgba(235, 235, 245, 0.6);
}

main{
  background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%);
}

section{
  background: linear-gradient(180deg, #2B2F53 3.16%, #1D1C34 36.05%);
  box-shadow: -10px 30px 80px rgba(59, 38, 123, 0.7);
}

aside{
  background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%);
}

.card_description_bg{
  background: linear-gradient(180deg, rgba(72, 49, 157, 0.2) 18.75%, rgba(72, 49, 157, 0) 100%);
}

input{
  background: linear-gradient(135deg, rgba(15, 85, 232, 0.1) 0%, rgba(157, 223, 243, 0.1) 100%);
  border: 1px solid rgb(76, 104, 170);
  border-radius: 40px;
}

.mic_border{
  border: 1px solid rgb(76, 104, 170);
}

.purple_filter{
  background: linear-gradient(180deg, rgba(196, 39, 251, 0) 0%, rgba(196, 39, 251, 0.2) 82.14%);
  filter: blur(20px);
}

hr{
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2995) 50.4%, rgba(255, 255, 255, 0) 96.77%);
  background-blend-mode: overlay;
}

.purple_bottom_border {
  background: linear-gradient(rgba(196, 39, 251, 0.2) 20%, rgba(196, 39, 251, 0.8) 40%, rgba(196, 39, 251, 0.2) 30%);
  background-blend-mode: overlay;
}

.video_card_border{
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.12);
  border-right: 1px solid rgba(255,255,255,0.12);
}